<div class="shadow-md mt-10 p-2">
  <div class="flex items-baseline gap-4">
    <span class="text-3xl font-bold">Your tasks:</span>

    <span class="text-xl text-gray-500 font-medium">
      {{ activeCount() }} / {{ totalCount() }} active
    </span>
  </div>

  <app-filter-bar class="print:hidden"></app-filter-bar>

  <div>
    <ul class="grid grid-cols-[repeat(auto-fit,minmax(320px,1fr))] gap-6 mt-8">
      @for (task of filteredTasks$ | async; track $index) {

        <app-todo-item
          class="block h-full"
          [task]="task"
          (delete)="onDelete($event)"
          (update)="onUpdate($event)">
        </app-todo-item>

      } @empty {
        <p class="mt-5 text-gray-600 italic">No task yet. Add one above!</p>
      }
    </ul>
  </div>
</div>
