<div class="flex flex-col">
  <span class="  text-3xl font-bold text-center">Register</span>

  <mat-form-field>
    <mat-label>Enter your username...</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your e-mail...</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your password...</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirm your password...</mat-label>
    <input matInput>
  </mat-form-field>

  <section class="example-section">
    <mat-checkbox class="example-margin">Accept terms and conditions</mat-checkbox>
  </section>

  <div class="example-button-row">
    <button mat-raised-button>Create account</button>
    <button mat-raised-button routerLink="/">Cancel</button>
  </div>
</div>
