<div class="flex justify-center mt-5">
  <mat-card>
    <mat-card-content>

      <mat-action-list>

        <button mat-list-item>
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>My Settings</span>
        </button>

        <button mat-list-item>
          <mat-icon matListItemIcon>notifications</mat-icon>
          <span matListItemTitle>Notifications</span>
        </button>

        <button mat-list-item>
          <mat-icon matListItemIcon>security</mat-icon>
          <span matListItemTitle>Privacy</span>
        </button>

      </mat-action-list>

    </mat-card-content>
  </mat-card>
</div>
