<div class="flex flex-col items-center p-6 bg-slate-50 rounded-xl">
  <span class="text-2xl font-bold">Add new tasks:</span>

  <div class="flex flex-row gap-4 mt-5 w-full max-w-lg">
    <label for="newTaskInput" class="sr-only">Enter your new task</label>
    <input type="text"
           id="newTaskInput"
           [(ngModel)]="newTaskContent"
           (keyup.enter)="onAdd()"
           class="border border-gray-300 p-3 rounded-2xl flex-grow focus:outline-none focus:ring-2 focus:ring-emerald-500"
           placeholder="Enter your tasks...">

    <button (click)="onAdd()"
            class="px-6 py-3 rounded-2xl bg-emerald-500 text-white font-bold cursor-pointer hover:bg-emerald-600 transition-colors">
      Add
    </button>
  </div>


</div>
<div>
  <app-todo-list></app-todo-list>
</div>
